.ui-dropdownchecklist-dropcontainer {
  height: auto !important;
}

.ui-dropdownchecklist-text {
  display: inline;
  font-weight: normal;
  font-family: Lucida, Lucida Grande, arial, helvetica, sans-serif;
  font-size: 80% !important;
  padding: 0 3px;
}

.ui-dropdownchecklist {
  margin: 0.6em 0;
}
